streamlit==1.41.1
python-dotenv==1.2.1
audio-recorder-streamlit==0.0.8
deepgram-sdk==5.3.1
elevenlabs==2.31.0
gTTS==2.5.4
google-generativeai==0.7.2
openai==1.57.0
langchain==0.2.16
langchain-core==0.2.43
langchain-community==0.2.16
langchain-google-genai==1.0.10
langchain-openai==0.1.25
chromadb==0.5.5
sentence-transformers==3.0.1
beautifulsoup4==4.12.3
pandas==2.2.3
requests==2.32.5
numpy==1.26.4
